name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - 
        uses: actions/checkout@v4
    - 
        name: Ejecutar tests
        run: docker build --target test .
    - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    - 
        name: Poner maquina virtual
        uses: docker/setup-qemu-action@v3
    - 
        name: Configurar buildx
        uses: docker/setup-buildx-action@v3
    - 
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          target: production
          platforms: linux/amd64, linux/arm64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/taskapp:latest
